<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'testIOT/design.css' %}" rel="stylesheet">
</head>
<body>
         <div class="container">
 <!---heading---->
     <header class="heading"> Your record has been saved.</header><hr></hr>
	<!---Form starting---->
	<div class="row ">
	 <!--- For Name---->
     <!-----------For Phone number-------->
         </div>


    </div>

</body>
</html>